{% extends "accounts/base.html" %}

{% block body %}
{% load static %}
<!-- ############ LAYOUT START-->
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <a class="navbar-brand">
        	<div ui-include="{% static 'assets/images/logo.svg' %}"></div>
        	<img src="{% static 'assets/images/logo.png' %}" alt="." class="hide">
        	<span class="hidden-folded inline">CRM</span>
        </a>
      </div>
    </div>

    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-sm">
        Sign up to login to your account<br>
        {% if error %}{{ error }}{% endif %}
      </div>
      <form name="form" method="post" action="{% url 'accounts:register' %}">{% csrf_token %}
        <div class="md-form-group">
          <input type="text" class="md-input" name="name" required>
          <label>Name</label>
        </div>
        <div class="md-form-group">
          <input type="email" class="md-input" name="email" required>
          <label>Email</label>
        </div>
        <div class="md-form-group">
          <input type="password" class="md-input" name="password" required>
          <label>Password</label>
        </div>
        <div class="m-b-md">
          <label class="md-check">
            <input type="checkbox" required><i class="primary"></i> Agree the <a href>terms and policy</a>
          </label>
        </div>
        <button type="submit" class="btn primary btn-block p-x-md">Sign up</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div>Already have an account? <a href="{% url 'accounts:login' %}" class="text-primary _600">Sign in</a></div>
    </div>
  </div>

<!-- ############ LAYOUT END-->
{% endblock %}
