{% extends "base.html" %}
{% block title %}Add Customer{% endblock %}
{% block body %}

{% load static %}

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            {% if "Success" in message|safe %}
              <input type="hidden" value="{{ message }}" id="success">
            {% elif "Failed" in message|safe %}
              <input type="hidden" id="error" value="{{ message }}">
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-12">
          <div class="text-right">
            <a href="{% url 'customers:customer_list_view' %}" class="btn btn-primary btn-round">View All Customers</a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Add Customer Form</h4>
              <p class="card-category">This form add customers to database. Only customers that are added here can be recorded in calls section.</p>
            </div>
            <div class="card-body">
              <form method="post" action="{% url 'customers:customer_create_view' %}">{% csrf_token %}
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label class="bmd-label-floating">Full name</label>
                      <input type="text" class="form-control" name="name">
                      <input type="hidden" name="next" value="{{ request.path }}">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">Calling Number</label>
                      <input type="text" class="form-control" name="calling_number" id="calling_number">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-12">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" id="copy_number">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>Check if calling number is same as contact number
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" id="contact_number_parent">
                      <label class="bmd-label-floating">Contact Number</label>
                      <input type="text" class="form-control" name="contact_number" id="contact_number">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Address</label>
                      <div class="form-group">
                        <label class="bmd-label-floating">Complate address of the customer without city, state and pin code</label>
                        <textarea class="form-control" rows="5" name="address"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">City</label>
                      <input type="text" class="form-control" name="city">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">State</label>
                      <input type="text" class="form-control" name="state">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Postal Code</label>
                      <input type="text" class="form-control" name="pin">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Save</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block script %}
<script>
  $(document).on("click", "#copy_number", function () {
    const pkid    = $(this).val;
    const number  = document.getElementById('calling_number').value;
    document.getElementById('contact_number').value = number;
    document.getElementById('contact_number_parent').className += ' is-focused';
  });
</script>
{% endblock %}
