{% extends "base.html" %}
{% block title %}Customer Details{% endblock %}
{% block body %}

{% load static %}

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            {% if "Success" in message|safe %}
              <input type="hidden" value="{{ message }}" id="success">
            {% elif "Failed" in message|safe %}
              <input type="hidden" id="error" value="{{ message }}">
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-12">
          <div class="text-right">
            <a href="{% url 'customers:customer_list_view' %}" class="btn btn-primary btn-round"><span class="glyphicon glyphicon-menu-hamburger"></span> View all customer</a>
          </div>
        </div>
        <div class="col-md-8">
          <h2>Call History</h2>
          {% for item in objects %}
          <div class="card">
            <div class="card-body">
              <p>
                Call registered on: {{ item.timestamp }}<br>
                By: {{ item.added_by }}
              </p>
              <div class="col-md-12">
                <center>
                <p>
                  {% for object in item.mother_call_id.all %}
                    <h3>Visited on: {{ object.visit_date_time|date }}</h3><br>
                    Call status:
                    {% if object.call_status_final|safe != "False" %}
                      <span class="text-danger">Open</span>
                    {% else %}
                      <span class="text-success">Closed</span>
                    {% endif %}
                      <br>
                    Reason: {{ object.call_visit_final_notes }}<br>
                    Visited by: {{ object.serviced_by }}<br>
                    Visit status: {{ object.get_visit_status_display }}<br>
                    Outcome: {{ object.outcome }}<br>
                    Visit added on: {{ object.timestamp }}
                    <hr>
                    {% empty %}
                    <span class="text-warning">Call Visit Pending</span>
                  {% endfor %}
                </p>
                </center>
              </div>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Complaint nature :</td>
                    <td>{{ item.complaint_nature }}</td>
                  </tr>
                  <tr>
                    <td>Product brand :</td>
                    <td>{{ item.brand }}</td>
                  </tr>
                  <tr>
                    <td>Product name :</td>
                    <td>
                      {{ item.product_name }}
                    </td>
                  </tr>
                  <tr>
                    <td>Product serial :</td>
                    <td>{{ item.product_serial }}</td>
                  </tr>
                  <tr>
                    <td>Product coverage :</td>
                    <td>{{ item.coverage }}</td>
                  </tr>
                  <tr>
                    <td>Appointment date :</td>
                    <td>{{ item.appointment_date }}</td>
                  </tr>
                  <tr>
                    <td>Appointment time :</td>
                    <td>{{ item.appointment_time }}</td>
                  </tr>
                  <tr>
                    <td>Call added by :</td>
                    <td>
                      {{ item.added_by }}<br>
                      On {{ item.timestamp }}
                    </td>
                  </tr>
                </tbody>
              </table>
              {% if item.edited_by %}
                <p class="text-muted pull-right">Call edited by {{ item.edited_by }} on {{ item.edit_datetime }}</p>
              {% endif %}
            </div>
          </div>
          {% empty %}
          <p class="text-center">No calls found</p>
          {% endfor %}
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h2>Customer Details</h2>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Name : {{ customer.name }}</td>
                  </tr>
                  <tr>
                    <td>Address: {{ customer.address }}, {{ customer.city }},
                    {{ customer.state }} - {{ customer.pin }}</td>
                  </tr>
                  <tr>
                    <td>Contact no.: {{ customer.contact_number }}</td>
                  </tr>
                  <tr>
                    <td>Calling no.: {{ customer.calling_number }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
{% endblock %}
