{% extends "base.html" %}
{% block title %}Edit Customer{% endblock %}
{% block body %}

{% load static %}

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            {% if "Success" in message|safe %}
              <input type="hidden" value="{{ message }}" id="success">
            {% elif "Failed" in message|safe %}
              <input type="hidden" id="error" value="{{ message }}">
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-12">
          <div class="text-right">
            <a href="{% url 'customers:customer_detail_view' %}" class="btn btn-primary btn-round">View All Customers</a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Edit customer</h4>
              <p class="card-category">Click on save after modifing required details.</p>
            </div>
            <div class="card-body">
              <form method="post" action="{% url 'customers:customer_edit_view' id=object.id %}">{% csrf_token %}
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label class="bmd-label-floating">Full name</label>
                      <input type="text" class="form-control" name="name" value="{{ object.name }}" required>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">Calling Number</label>
                      <input type="text" class="form-control" name="calling_number" value="{{ object.calling_number }}" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Contact Number</label>
                      <input type="text" class="form-control" name="contact_number" value="{{ object.contact_number }}" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">Complate address of the customer without city, state and pin code</label>
                        <input type="text" class="form-control" rows="5" name="address" value="{% if object.address %}{{ object.address }} {% endif %}" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">City</label>
                      <input type="text" class="form-control" name="city" value="{% if object.city %}{{ object.city }} {% endif %}">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">State</label>
                      <input type="text" class="form-control" name="state" value="{% if object.state %}{{ object.state }} {% endif %}">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Postal Code</label>
                      <input type="text" class="form-control" name="pin" value="{% if object.pin %}{{ object.pin }} {% endif %}" required>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success pull-right">Save</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
