{% extends "base.html" %}

{% block title %}Engineers Master{% endblock %}

{% block body %}

{% load static %}

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            {% if "Success" in message|safe %}
              <input type="hidden" value="{{ message }}" id="success">
            {% elif "Failed" in message|safe %}
              <input type="hidden" id="error" value="{{ message }}">
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-12">
          <div class="text-right">
            <button onclick="showEngineerForm()" class="btn btn-primary btn-round"><span class="glyphicon glyphicon-plus-sign"></span> Add New Engineer</button>
          </div>
        </div>
        <div class="col-md-8" id="add-engineer-form">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Add Engineer</h4>
            </div>
            <div class="card-body">
              <form method="post" action="{% url 'engineers:engineer_view' %}">{% csrf_token %}
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label class="bmd-label-floating">Full name</label>
                      <input type="text" class="form-control" name="engineer_name">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">Contact Number</label>
                      <input type="text" class="form-control" name="mobile">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Save</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Engineers</h4>
              <p class="card-category">The following table shows all the saved engineers. Click on edit icon to modify or delete.</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Sr. No.
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Contact number
                    </th>
                    <th>
                      Pending visits to
                    </th>
                    <th></th>
                  </thead>
                  <tbody>
                    {% for item in objects %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        {{ item.engineer_name }}<br>
                        {% if item.edited_by %}
                        <p class="text-muted">Edited by: {{ item.edited_by }}, on {{ item.edit_datetime }}</p>
                        {% endif %}
                      </td>
                      <td>{{ item.mobile }}</td>
                      <td>
                        {% for object in item.assigned_engineer.all %}
                          {% if object.status|safe == "P" %}
                            {{ object.call.customer.name }} ;
                          {% endif %}
                        {% endfor %}
                      </td>
                      <td class="td-actions text-right">
                        <a
                          rel="tooltip"
                          title="View"
                          class="btn btn-primary btn-link btn-sm engineer-edit"
                          href="{% url 'engineers:engineer_detail_view' item.pk %}">
                            <i class="material-icons">visibility</i>
                        </a>
                        <button
                          type="button"
                          rel="tooltip"
                          title="Edit"
                          class="btn btn-primary btn-link btn-sm engineer-edit"
                          data-toggle="modal"
                          data-target="#engineerEditModal"
                          data-id="{{ item.id }}"
                          data-name="{{ item.engineer_name}}"
                          data-mobile="{{ item.mobile }}">
                            <i class="material-icons">edit</i>
                        </button>
                        <button
                          type="button"
                          rel="tooltip"
                          title="Delete"
                          class="btn btn-danger btn-link btn-sm engineer-delete"
                          data-toggle="modal"
                          data-target="#confirmEngineerDelete"
                          data-id="{{ item.id }}">
                            <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Engineer Delete Modal -->
        <div class="modal fade" id="confirmEngineerDelete" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post" action="{% url 'engineers:engineer_delete_view' %}">{% csrf_token %}
                <div class="modal-body for-delete">
                  Deletion is permanent and deleted items cannot be recovered. Please make necessary backups before deletion.
                  <input type="hidden" id="engineer-id" name="engineer-id">
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-secondary">Yes</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Modal End -->

        <!-- Engineer Edit Modal -->
        <div class="modal fade" id="engineerEditModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Edit Engineer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post" action="{% url 'engineers:engineer_edit_view' %}">{% csrf_token %}
                <div class="modal-body for-edit">
                  <div class="col-md-12">
                          <div class="row">
                            <input type="hidden" name="eng-id" id="pre-id">
                            <div class="col-md-7">
                              <div class="form-group bmd-form-group is-focused is-filled">
                                <label class="bmd-label-floating">Full name</label>
                                <input type="text" class="form-control" name="engineer_name" id="pre-name">
                              </div>
                            </div>
                            <div class="col-md-5">
                              <div class="form-group bmd-form-group is-focused is-filled">
                                <label class="bmd-label-floating">Contact Number</label>
                                <input type="text" class="form-control" name="mobile" id="pre-mobile">
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Modal End -->

      </div>
{% endblock %}
{% block script %}
<script>
  $(document).on("click", ".engineer-delete", function () {
    const pkid    = $(this).data('id');
    $(".for-delete #engineer-id").val(pkid);
  });

  $(document).on("click", ".engineer-edit", function () {
    const pkid    = $(this).data('id');
    const name    = $(this).data('name');
    const mobile  = $(this).data('mobile');
    $(".for-edit #pre-id").val(pkid);
    $(".for-edit #pre-name").val(name);
    $(".for-edit #pre-mobile").val(mobile);
  });

function showEngineerForm() {
  var engineerForm = document.getElementById('add-engineer-form');
  engineerForm.style.display = 'block'
  engineerForm.style.height = 'auto';
  engineerForm.style.width = 'auto';
  engineerForm.style.position = 'relative';
}
</script>
{% endblock %}
