{% extends "base.html" %}
{% block title %}View Call{% endblock %}
{% block body %}

{% load static %}

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            {% if "Success" in message|safe %}
              <input type="hidden" value="{{ message }}" id="success">
            {% elif "Failed" in message|safe %}
              <input type="hidden" id="error" value="{{ message }}">
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-12">
          <div class="text-right">
            <button data-toggle="modal" data-target="#allocateCall" class="btn btn-primary btn-round">
              <span class="glyphicon glyphicon-text-background"></span> Allocate Call
            </button>
            <a href="{% url 'calls:call_edit_view' object.pk %}" class="btn btn-primary btn-round"><span class="glyphicon glyphicon-edit"></span> Edit Call</a>
            <a href="{% url 'calls:calls_list_view' %}" class="btn btn-primary btn-round"><span class="glyphicon glyphicon-menu-hamburger"></span> View all Calls</a>
            <a href="{% url 'calls:call_register_view' %}" class="btn btn-primary btn-round"><span class="glyphicon glyphicon-plus-sign"></span> Add New Call</a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h2>Call Details</h2>
              <p class="pull-right text-muted">Registered by {{ object.added_by }} on {{ object.timestamp }}</p>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Customer name :</td>
                    <td>{{ object.customer.name }}</td>
                  </tr>
                  <tr>
                    <td>Complain nature :</td>
                    <td>{{ object.complaint_nature }}</td>
                  </tr>
                  <tr>
                    <td>Product brand :</td>
                    <td>{{ object.brand }}</td>
                  </tr>
                  <tr>
                    <td>Product name :</td>
                    <td>{{ object.product_name }}</td>
                  </tr>
                  <tr>
                    <td>Product serial:</td>
                    <td>{{ object.product_serial }}</td>
                  </tr>
                  <tr>
                    <td>Product coverage :</td>
                    <td>{{ object.product_coverage }}</td>
                  </tr>
                  <tr>
                    <td>Customer preferred appointment data :</td>
                    <td>{{ object.appointment_date }}</td>
                  </tr>
                  <tr>
                    <td>Customer preferred appointment time :</td>
                    <td>{{ object.appointment_time }}</td>
                  </tr>
                </tbody>
              </table>
              {% if object.edited_by %}
              <p class="pull-right text-warning">Edited by: {{ object.edited_by }} on {{ object.edit_datetime }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h2>Customer Details</h2>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Name : {{ object.customer.name }}</td>
                  </tr>
                  <tr>
                    <td>Address: {{ object.customer.address }}, {{ object.customer.city }},
                    {{ object.customer.state }} - {{ object.customer.pin }}</td>
                  </tr>
                  <tr>
                    <td>Contact no.: {{ object.customer.contact_number }}</td>
                  </tr>
                  <tr>
                    <td>Calling no.: {{ object.customer.calling_number }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% if call_visits %}
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h2>Customer Visit History</h2>
              {% for item in call_visits %}
              <br><br>
              <h3 class="pull-right">Call:
                {% if item.call_status_final|safe != "False" %}
                  <span class="text-danger">Open</span>
                {% else %}
                  <span class="text-success">Closed</span>
                {% endif%}
              </h3>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Visit date : {{ item.visit_date_time|date }}</td>
                  </tr>
                  <tr>
                    <td>Engineer visited: {{ item.serviced_by.engineer_name }}</td>
                  </tr>
                  <tr>
                    <td>Visit status: {{ item.get_visit_status_display }}</td>
                  </tr>
                  <tr>
                    <td>Service outcome: {{ item.outcome }}</td>
                  </tr>
                  <tr>
                    <td>Reason for call open/closure: {{ item.call_visit_final_notes }}</td>
                  </tr>
                </tbody>
              </table>
              <p class="pull-right text-muted">Added by {{ item.added_by }} on {{ item.timestamp }}</p>
              <br><hr>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h2>Call allocated to:</h2>
              {% if call_allocations %}
                <ul>
                {% for item in call_allocations %}
                  <li>{{ item.engineer_assigned.engineer_name }} - Visit status : {{ item.get_status_display }}
                    <br>
                    <p class="text-muted">By {{ item.added_by.first_name }}, on {{ item.timestamp }}
                  </li>
                {% endfor %}
                </ul>
              {% else %}
              <p>Unallocated call</p>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- Allocate call Modal -->
        <div class="modal fade" id="allocateCall" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Allocate call for engineer visit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post" action="{% url 'calls:call_allocate_view' %}">{% csrf_token %}
                <div class="modal-body">
                  <input type="hidden" name="call-id" value="{{ object.id }}">
                  <input type="hidden" name="next" value="{{ request.path }}">
                  {% for item in engineers %}
                    <div class="col-md-12">
                      <div class="form-group">
                        <input class="form-check-input" type="radio" name="engineer-id" value="{{ item.pk }}">
                        <label class="bmd-label-floating">{{ item.engineer_name }}</label>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">Allocate</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Modal End -->

      </div>
{% endblock %}
